<h2>What's your email address?</h2>
<p class="description_reset">Enter the email address used to register with The New York Times 2.0 and we'll send you a link to reset your password</p>
<form action="/account/recover-password" method="post">
    <div class="input-field mt-2">
        <input id="recover-email" type="email" name="email">
        <label for="email">Email</label>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn padd_3 cyan darken-2">Send password reset email</button>
</form>